# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

# Сборка (и публикация) проекта

name: Build (and publish)

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: 'Тип сборки'
        required: true
        default: 'build'
        type: choice
        options:
        - build
        - release

jobs:
  build-and-publish:
    uses: AArkhipenko/pipelines/.github/workflows/nuget.yml@main
    with:
      dotnet_version: 7.0.x
      build_type: ${{ github.event.inputs.build_type }}
      branch_name: main
      repository_name: ${{ github.repository }}
    secrets: inherit
